.navigation__list {
  display: flex;
  justify-content: end;
  gap: 2rem;
  letter-spacing: .11em;
  font-weight: bolder;
  font-size: 1.25em;
  margin: 0;
  font-family: 'Jersey', 'Courier New', Courier, monospace;
  min-width: 820px;
  color: #4d4d4ddb;
}

.navigation__list__item {
  transition: all .5s;
  cursor: pointer;
  min-width: 5rem;
  color: #4d4d4ddb;
  font-weight: 800;
}

.navigation__list__item:hover {
  color: #C8693A;
}