.container {
  background-color: #201817;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

ul {
  list-style-type: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 2em;
  letter-spacing: .3em;
  cursor: pointer;
  transition: all .3s;
}

.icon:hover {
  color: azure;
}

.nav_bars__container {
  width: 65%;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}